<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" guice-stage="DEVELOPMENT" verbose="0">
    <test name="Inivos-mobile-automation-framework(failed)">
        <parameter name="platform" value="ANDROID"/>
        <classes>
            <class name="MobileTestSuite">
                <methods>
                    <include name="viewTests" />
                    <include name="textTests" />
                    <include name="beforeTest" />
                    <include name="startSuite" />
                    <include name="startTest" />
                    <include name="startAppium" />
                    <include name="startApp" />
<!--                    <include name="beforeMethodTest"/>-->
                    <include name="globalSetup" />
                    <include name="tearDown" />
                </methods>
            </class> <!-- MobileTestSuite -->
        </classes>
    </test> <!-- Inivos-mobile-automation-framework(failed) -->
</suite> <!-- Default Suite -->
