<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test name="Regression">
        <parameter name="emailid" value="nomesh.desilva@inivossl.com"/>
        <parameter name="password" value="test@123"/>
        <classes>
<!--            <class name="BaseTest"/>-->
            <class name="MobileTestSuite"/>
        </classes>
    </test>

    <!-- Test -->

<!--    <test name="Test Basics 2">-->
<!--        <parameter name="emailid" value="tester789@gmail.com"/>-->
<!--        <classes>-->
<!--            <class name=""/>-->
<!--        </classes>-->
<!--    </test> -->
    <!-- Test -->
</suite> <!-- Suite -->